<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-button (click)="selectPage(node)">{{node.url}}</button>
    <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    <button mat-icon-button (click)="removeItem(node)"><mat-icon>delete</mat-icon></button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <mat-form-field>
      <input matInput #itemValue placeholder="New item...">
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    <button mat-icon-button (click)="removeItem(node)"><mat-icon>delete</mat-icon></button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button *ngIf="node.expandable" mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <button mat-button (click)="selectPage(node)">{{node.url}}</button>
    <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    <button mat-icon-button (click)="removeItem(node)"><mat-icon>delete</mat-icon></button>
  </mat-tree-node>
</mat-tree>
