<mat-toolbar>
  <div class="_page-limiter layout-component-head">
    <mat-icon>table_chart</mat-icon>
    Layouts
    <app-search-box
      class="layout-component-head__search-box"
      placeholder='Search by name..'
      (searchValueChanged)="_filterValue = $event"
    ></app-search-box>
  </div>
</mat-toolbar>

<div class="page-content _page-limiter">

  <app-page-tree></app-page-tree>
  <div class="layout-component-body">
    <mat-card>
      <ng-container *ngTemplateOutlet="layoutForm; context: {$implicit: _layout}"></ng-container>
      <mat-action-row *ngIf="!_crudLoading; else loader">
        <button mat-button (click)="_revertData()">
          <mat-icon>settings_backup_restore</mat-icon>
          Cancel
        </button>
        <button mat-button (click)="_editLayout(layout)">
          <mat-icon>save</mat-icon>
          Save Changes
        </button>
        <button mat-button (click)="_deleteLayout(layout)">
          <mat-icon>delete_forever</mat-icon>
          Delete
        </button>
      </mat-action-row>
    </mat-card>
  </div>
</div>

<ng-template #layoutForm let-page>
  <div class="panel-form-body">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="page.name" required>
    </mat-form-field>

    <button mat-button [matMenuTriggerFor]="tenantsMenu">
      {{_selectedLayout?.tenant}} <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #tenantsMenu="matMenu">
      <button mat-menu-item *ngFor="let tenant of _tenants" (click)="_selectedLayout = findLayout(page, tenant.name)">{{ tenant.name }}</button>
    </mat-menu>
  </div>

  <div class="layout-configuration-map" *ngIf="_selectedLayout">
    <div class="row" *ngFor="let row of _selectedLayout.structure.rows">
      <ng-container *ngFor="let column of row.columns">
        <div class="{{column.cssClass}}">
          <div class="column-controls" *ngIf="_fragments.length > 0">
            <button mat-mini-fab color="primary"
                    (click)="_openAddFragmentDialog(column.fragments)"
                    matTooltip="Add fragment">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <ng-container *ngFor="let fragment of column.fragments; let index = index">
            <ng-container
              *ngTemplateOutlet="fragmentTemplate; context: {
                $implicit: fragment, fragments:
                column.fragments, index: index,
                tenant: _selectedLayout.tenant
              }"
            ></ng-container>
          </ng-container>
        </div>
      </ng-container>
      <div class="row-controls">
        <div class="row-controls__value">{{row.maxWidth || "-"}}</div>
        <div class="row-controls__popover">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Max Width" [(ngModel)]="row.maxWidth">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fragmentTemplate let-fragment let-fragments="fragments" let-tenant="tenant" let-index="index">
  <div class="fragment">
    <span class="fragment-info">
      <mat-icon>receipt</mat-icon> {{fragment.fragmentType.name}}
      <i style="opacity: 0.5; font-size: 11px">{{fragment.instanceId}}</i>
    </span>
    <span class="fragment-controls">
      <ng-container *ngIf="fragment.fragmentType.hasPreferences">
        <button mat-icon-button (click)="_openSetPreferencesDialog(fragment, tenant)">
          <mat-icon>settings</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="fragments.length > 1">
        <button mat-icon-button (click)="_moveUpFragment(fragments ,index)">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button mat-icon-button (click)="_moveDownFragment(fragments, index)">
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </ng-container>
      <button mat-icon-button (click)="_deleteFragment(fragments, index)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </span>
  </div>
</ng-template>

<ng-template #loader>
  <mat-progress-bar class="app-loader" mode="indeterminate"></mat-progress-bar>
</ng-template>
